html, body {
  height: 100%;
}
body {
  display: grid;
  grid-template-rows: auto auto 1fr;
}

/* nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1em;
}
hr {
  margin: 0;
}

.category{
    margin: 3rem;
}

.uk-button{
    border-radius: 3px !important;
}
.head-category{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-category h3{
    margin: 0 !important;
}
.card-category{
    padding: 0 !important;
    padding-bottom: 3rem !important;
}
.card-category h3{
    padding: 2rem ;
    
}
.content-card{
    margin-bottom: 1rem;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(117, 117, 117, 0.406);
    border-top: 1px solid rgba(117, 117, 117, 0.406);
}
.content-card p{
    margin: 0 !important;
}

/* main */
main {
  height: 100%;
}