
{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('app_board_create', {'category': category.id})}}">Ajouter un board</a>
<a href="{{ path('category_del', {'id': category.id})}}">Supprimer</a>
{% for board in category.boards %}

    <h2><a href="{{ path('board_show', {'id': board.id})}}">{{ board.name }} </a></h2>

{% endfor %}
{% endblock %}