{% extends 'base.html.twig' %}

{% block body %}

	<div class="category">
		<div class="head-category">
			<h3>Catégories</h3>
			<a class="uk-link-reset" href="{{ path('app_category_create') }}">Créer une catégorie</a>

		</div>

		<div class="category  uk-card uk-card-default uk-card-body ">

			<h3>Liste des catégories</h3>
			{% for category in categories %}
				<a href="{{ path('category_show', {'id': category.id}) }}">
					<div class="card-category uk-card uk-card-default uk-card-hover uk-card-body ">


						<p>{{ category.name }}</p>

					</div>
				</a>

			{% endfor %}
		</div>
	</div>


{% endblock %}
