{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des catégories</h1>

    <ul>
        {% for category in categories %}
            <li><a href="{{ path('board', {'id': category.id}) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
