{% extends 'base.html.twig' %}

{% block body %}

	{% if is_granted('insider') %}
    <p>Vous êtes un super administrateur</p>
{% endif %}
	
	<div class="category">

		<div class="head-category">
			<h3>Catégories</h3>

			<a class="uk-link-reset" href="{{ path('app_category_create') }}">
				<button class="uk-button uk-button-primary">Créer une catégories</button>
			</a>

		</div>

		<div class="card-category uk-card uk-card-default uk-card-body ">
			<h3>Liste des catégories</h3>
			{% for category in categories %}
				<div class="content-card">
					<a href="{{ path('category_show', {'id': category.id}) }}">
						<p>{{ category.name }}</p>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>



{% endblock %}
