{% extends 'base.html.twig' %}

{% block title %}Hello SubjectController!{% endblock %}

{% block body %}

<a href="{{ path('app_message_create', {'subject': subject.id})}}">Ajouter un message</a>

{% for message in subject.messages %}
    <h2>{{ message.user.email }}</h2>
    <h2>{{ message.createdat | date('d/m/Y')}}</h2>
    <h2>{{ message.content }}</h2>

{% endfor %}
{% endblock %}