{% extends 'base.html.twig' %}

{% block body %}
    {% for board in boards %}
        
    <h1>Tableau de bord pour la catégorie "{{ board.category.name }}"</h1>
    {% endfor %}

    <!-- ... -->
{% endblock %}
